:root {
    --cor-01: #274775;
    --cor-02: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns: 170px auto;
    height: 100vh;
}

#container-user {
    background-color: var(--cor-01);
    color: var(--cor-02);
    padding: 10px 0 0 10px;
}

#display-result {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
}

ul {
    list-style: none;
}