:root {
    --cor-01: #274775;
    --cor-02: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns: 170px auto;
    height: 100vh;
}

#container-user {
    background-color: var(--cor-01);
    color: var(--cor-02);
    padding: 10px 0 0 10px;
}

#container-user ul li {
    margin-top: 10px;
}

#container-user ul li:hover {
    cursor: pointer;
    font-weight: 900;
}

#container-user ul li:first-child {
    margin-top: 0;
}

#display-result {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
}

#display-result p {
    display: none;
    padding: 5px 0 5px 5px;
    background-color: var(--cor-01);
    color: var(--cor-02);
}

ul {
    list-style: none;
}

@media (min-width:768px) {
    #container-user, #display-result {
        padding: 20px 0 0 20px;
        font-size: 18px;
    }
}